{% extends "base.html" %}
{% load staticfiles  %}

{% block title %}Maritim Cuaca Penyebrangan{% endblock title %}
{% block content %}
<table id="maritim-cuaca-penyebrangan" class="table table-striped table-hover">
	<thead>
		<tr>
			<th rowspan="2">#</th>
			<th rowspan="2">Batch Time</th>
			<th rowspan="2">Kota</th>
			<th rowspan="2">Wilayah Penyebrangan</th>
			<th rowspan="2">Pelabuhan Asal</th>
			<th rowspan="2">Pelabuhan Tujuan</th>
			<th colspan="2">Waktu Valid (Dari Mulai)</th>
			<th colspan="2">Waktu Valid (Sampai Dengan)</th>
			<th rowspan="2">Cuaca</th>
			<th colspan="3">Kecepatan Angin</th>
			<th colspan="2">Gelombang</th>
		</tr>
		<tr>
			<th>Tanggal</th>
			<th>Pukul</th>
			<th>Tanggal</th>
			<th>Pukul</th>
			<th>Arah</th>
			<th>Max</th>
			<th>Min</th>
			<th>Max</th>
			<th>Min</th>
		</tr>
	</thead>
	<tbody>
	{% for record in maritim_cuaca_penyebrangan %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ record.batch_time }}</td>
			<td>{{ record.shortname }}</td>
			<td>{{ record.area_name }}</td>
			<td>{{ record.area_habor_from }}</td>
			<td>{{ record.area_habor_to }}</td>
			<td>{{ record.validfromdate }}</td>
			<td>{{ record.validfromhour }} {{ record.timezone }}</td>
			<td>{{ record.validtodate }}</td>
			<td>{{ record.validtohour }} {{ record.timezone }}</td>
			<td>{% if record.weather_icon %}{{ record.weather_icon }}{% else %}&#45;{% endif %}</td>
			<td>{% if record.wd_from_icon_id or wd_to_icon_id %}{{ record.wd_from_icon_id }}&#45;{{ record.wd_to_icon_id }}{% else %}&#45;{% endif %}</td>
			<td>{% if record.ws_min %}{{ record.ws_min }} Knot{% else %}&#45;{% endif %}</td>
			<td>{% if record.ws_max %}{{ record.ws_max }} Knot{% else %}&#45;{% endif %}</td>
			<td>{% if record.wave_min %}{{ record.wave_min }} Meter{% else %}&#45;{% endif %}</td>
			<td>{% if record.wave_max %}{{ record.wave_max }} Meter{% else %}&#45;{% endif %}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function() {
    $('#maritim-cuaca-penyebrangan').DataTable({
		"iDisplayLength": 100,
	});
} );
</script>
{% endblock extra_js %}